%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to t('views.homepage_title'), root_path, id: 'logo'
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t('views.home.home'), root_path
        %li= link_to t('views.home.help'), help_path
        %li= link_to t('views.home.login'), '#'
