ruby-rails/api-port/.bundle
ruby-rails/api-port/db/*.sqlite3
ruby-rails/api-port/db/*.sqlite3-journal
ruby-rails/api-port/log/*
ruby-rails/api-port/tmp/*
ruby-rails/api-port/log/
ruby-rails/api-port/tmp/
ruby-rails/api-port/storage/*
ruby-rails/api-port/storage/
ruby-rails/api-port/node_modules
ruby-rails/api-port/yarn-error.log
ruby-rails/api-port/public/assets
ruby-rails/api-port/.byebug_history
ruby-rails/api-port/config/master.key

ruby-rails/railstutorial/.bundle
ruby-rails/railstutorial/db/*.sqlite3
ruby-rails/railstutorial/db/*.sqlite3-journal
ruby-rails/railstutorial/log/*
ruby-rails/railstutorial/tmp/*
ruby-rails/railstutorial/log/
ruby-rails/railstutorial/tmp/
ruby-rails/railstutorial/storage/*
ruby-rails/railstutorial/storage/
ruby-rails/railstutorial/node_modules
ruby-rails/railstutorial/yarn-error.log
ruby-rails/railstutorial/public/assets
ruby-rails/railstutorial/.byebug_history
ruby-rails/railstutorial/config/master.key

ruby-rails/global-search/.bundle
ruby-rails/global-search/db/*.sqlite3
ruby-rails/global-search/db/*.sqlite3-journal
ruby-rails/global-search/log/*
ruby-rails/global-search/tmp/*
ruby-rails/global-search/log/
ruby-rails/global-search/tmp/
ruby-rails/global-search/storage/*
ruby-rails/global-search/storage/
ruby-rails/global-search/node_modules
ruby-rails/global-search/yarn-error.log
ruby-rails/global-search/public/assets
ruby-rails/global-search/.byebug_history
ruby-rails/global-search/config/master.key
