body {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-weight: 300;
}

fieldset {
    border-color: lightgray;
    border-style: solid;
    padding: 15pt;
    margin-bottom: 1em;
}

button {
    border-radius:6px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    text-decoration: none;
    cursor: pointer;
}

legend {
    padding-right: .3em;
}

fieldset div {
    padding-bottom: .6em;
}

input[type] {
    margin-left: .5em;
}
input:focus {
    outline:none;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=search] {
    box-sizing: border-box;
    display: inline-block;
    border-width: 1px;
    border-color: lightgray;
}

input[type=number] {
    width: 4em;
    height: 2em;
}

.policytext p {
    font-size: 8pt;
    padding: 0;
    margin: 0;
}

.policytext a {
    text-decoration: none;
}

.ordertotal {
    font-weight: bold;
}

/* ---------------- */

/* Give the user a hint that label is clickable */
label {
    cursor: pointer
}

/* Provide visual confirmation of the current field */
label:focus-within {
    color: blue;
}
/* Help users distinguish the field the mouse is over */
input[type=text]:hover,
input[type=number]:hover,
input[type=email]:hover,
input[type=search]:hover,
input[type=password]:hover {
    border-color: darkblue;
    box-sizing: border-box;
    display: inline-block;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=search]:focus,
input[type=password]:focus {
    border-color: darkblue;
}

/* Make the highlighted access key stand out */
.accesskey {
    text-decoration: underline;
}

