<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title 404
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Nunito:400,700")
    link(rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Varela+Round")
    link(rel="stylesheet" type="text/css" href="css/404.css")
  body
    - for(var x = 1;x <= 5;x++)
    .bubble

    .main
      h1=status
      p It looks like you're lost...
        br
        | That's a trouble?
      button(type='button') Go back
