@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,700");

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
  display: flex;
  color: rgba(189, 189, 192, 1);
}

.Sidebar {
  width: 80px;
  background-color: rgba(32, 32, 35, 1);
  height: 100%;
  border-right: 1px solid rgba(189, 189, 192, 0.1);
  transition: width 0.3s;
  overflow-y: scroll;
}

@media (min-width: 576px) {
  .Sidebar {
    width: 320px;
  }
}

.Main {
  flex: 1 1 0;
  background-color: rgba(25, 25, 27, 1);
  height: 100%;
}

.User {
  display: flex;
  align-items: flex-start;
  padding: 1rem;
}

.User:hover {
  background: rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.User__pic {
  width: 50px;
  border-radius: 50%;
}

.User__details {
  display: none;
}
/* not small devices  */

@media (min-width: 576px) {
  .User__details {
    display: block;
    padding: 0 0 0 1rem;
  }
  .User__details-name {
    margin: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
  }
}
