body {
  margin: 0;
  padding: 0;
  font-family:  sans-serif;
}

#root {
  height: 100vh;
}

.App {
  height: 100%;
  display: flex;
  color: rgba(189, 189, 192, 1);
}

.Sidebar {
  width: 80px;
  background-color: rgba(32, 32, 35, 1);
  height: 100%;
  border-right: 1px solid rgba(189, 189, 192, 0.1);
  transition: width 0.3s;
}

@media (min-width: 576px) {
  .Sidebar {
    width: 320px;
  }
}

.Main {
  flex: 1 1 0;
  background-color: rgba(25, 25, 27, 1);
  height: 100%;
}
