<div class="form-group">
  <label for="server-name">Server name:</label>
  <input type="text" id="server-name" class="form-control" (input)="typeServerName($event)">
</div>
<div class="form-group">
  <label for="alias-name">Alias name:</label>
  <input type="text" id="alias-name" class="form-control" [(ngModel)]="serverAliasName">
</div>

<button class="btn btn-info" [disabled]="!buttonClickable"
  (click)='createdServer()'>Add Server</button>
<br>
<div *ngIf="this.servers.length === 0; then noServer else haveServer"></div>
<ng-template #noServer>No server</ng-template>
<ng-template #haveServer>
  <div *ngFor="let server of this.servers"
    [ngStyle]="{ backgroundColor: colorOnStatus(server.status) }"
    [ngClass]="{online: server.status}">
    {{ "Server: " + server.name + ". Alias: " + server.alias }}
  </div>
</ng-template>

<!--
Same data binding
<a class="btn btn-success" href="{{test}}">String interpolation</a>
<a class="btn btn-success" [href]="test">Property Binding</a>
<button class="btn btn-success" (click)="switch()">Change Status</button>
-->
