- provide :title, 'Help'

%h1 Help
%p
  Get help on the ruby on Rails tutorial at the
  %a{href: 'https://www.railstutorial.org/help'}
    Rails Tutorial help page
  To get help on this sample app, see the
  %a{href: 'https://www.railstutorial.org/book'}
    %em Ruby on Rails Tutorial
    book
