<div class="fluid-container">
  <div class="row">
    <div class="col-lg-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="text-primary">Server - blueprint</h4>
        </div>
        <div class="panel-body"><app-servers></app-servers></div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="text-primary">Student: Form one-way binding</h4>
        </div>
        <div class="panel-body"><app-students></app-students></div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="text-primary">Animal: Local reference in template</h4>
        </div>
        <div class="panel-body"><app-animals></app-animals></div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h4 class="text-primary">Superhero: Access template using Viewchild</h4>
        </div>
        <div class="panel-body"><app-heroes></app-heroes></div>
      </div>
    </div>
  </div>
</div>
