<app-header></app-header>
<div class="ui main text container">
  <form class="ui large form segment">
    <h3 class="ui header">Add a Link</h3>

    <div class="field">
      <label for="title">Title:</label>
      <input #titleInputElement>
    </div>

    <div class="field">
      <label for="link">Link:</label>
      <input #linkInputElement>
    </div>

    <button (click)="addArticle(titleInputElement, linkInputElement)"
      class="ui positive right floated button">
      Submit Link
    </button>
  </form>

  <div class="ui grid posts">
    <app-article *ngFor="let article of sortArticle()" [article]="article">
    </app-article>
  </div>
</div>
