- provide :title, 'About'

%h1 About
%p
  The
  %a{href: 'https://www.railstutorial.org/'}
    %em Ruby on Rails Tutorial
  is a
  %a{href: 'https://www.railstutorial.org/book'} book
  and
  %a{href: 'http://screencasts.railstutorial.org/'} screencast serires
  to teach web development with
  %a{href: 'http://rubyonrails.org/'} Ruby on Rails
  \. This is the sample application for the tutorial.
