.center.jumbotron
  %h1 Social network community
  %p
    This is the homepage for the
    %a{href: 'https://www.railstutorial.org/'}
      Ruby on Rails tutorials
    sample application
  = link_to "Sign up now!", '#', class: "btn btn-lg btn-primary"

= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/'
